<section class="categories-show">

#renders serialized version of object, Yamel - whole bunch of details about the objct 
# <% debug @category %>

  <header class="page-header">
    <h1>
      <%= @category.name %>
      <small>(<%= pluralize @products.size, 'product' %>)</small>
    </h1>
  </header>

  <div class="products">
    <%= render @products %>
  </div>

</section>
