<div class="col-sm-8">
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @product.name %></dd>
  <dt>Description</dt>
  <dd><%= @product.description %></dd>
  <dt>Quantity</dt>
  <dd><%= @product.quantity %></dd>
  <dt>Price</dt>
  <dd><%= "#{"$"}#{@product.price}" %></dd>
</dl>
</div>